body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-color {
    color: #8fd82f;
}

section {
    display: flex;
}

.hafe {
    width: 50%;
    padding-left: 5%;
}

.hafe img {
    width: 80%;
}